{% extends 'main.html' %} {% block content %} {% if message %}
<div class="alert alert-danger">{{ message }}</div>
{% endif %}
<div class="container">
  <div
    class="card card-body"
    style="border: 1px solid black; box-shadow: 0 0 10px black"
  >
    <h2>This is basic Machine Learning based WebApp.</h2>
    <!-- <p>These Machine Learning models are trained on large datasets </p> -->
    <br />
    <!-- <h2>Model Accuracies:</h2>
    <ul>
      <li>Diabetes Model: <strong>__.__%</strong></li>
      <li>Breast Cancer Model: <strong>__.__%</strong></li>
      <li>Heart Disease Model: <strong>__.__%</strong></li>
      <li>Kidney Disease Model: <strong>__.__%</strong></li>
      <li>Liver Disease Model: <strong>__.__%</strong></li>
    </ul> -->
    <br />
    <h3>Information about the Diseases which this webApp can predict.</h3>
    <br />
    <div class="row">
      <div
        class="col-md-3 card card-body"
        style="
          box-shadow: 0 0 5px black;
          margin: 5px;
          background-image: url('../public/Diabetes-home-page.jpg');
        "
        data-toggle="modal"
        data-target="#diabetes_modal"
      >
        <h4>Diabetes</h4>
        <!-- <img
          src="../public/Diabetes-home-page.jpg"
          alt="diabetes"
          onclick="showTile()"
        /> -->
        <!-- <p id="diab"></p> -->
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-3 card card-body"
        style="
          box-shadow: 0 0 5px black;
          margin: 5px;
          background-image: url('../public/Diabetes-home-page.jpg');
        "
        data-toggle="modal"
        data-target="#breast_cancer_modal"
      >
        <h4>Breast Cancer</h4>
        <!-- <img
          src="../public/Diabetes-home-page.jpg"
          alt="diabetes"
          onclick="showTile()"
        /> -->
        <!-- <p id="diab"></p> -->
      </div>
    </div>
    
    <div class="row">
      <div
        class="col-md-3 card card-body"
        style="
          box-shadow: 0 0 5px black;
          margin: 5px;
          background-image: url('../public/Diabetes-home-page.jpg');
        "
        data-toggle="modal"
        data-target="#heart_modal"
      >
        <h4>Heart</h4>
        <!-- <img
          src="../public/Diabetes-home-page.jpg"
          alt="diabetes"
          onclick="showTile()"
        /> -->
        <!-- <p id="diab"></p> -->
      </div>
    </div>
    

    <!-- Modal -->
    <div
      class="modal fade"
      id="diabetes_modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="diabetes_modalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Diabetes</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Diabetes is a disease that occurs when your blood glucose, also
            called blood sugar, is too high. Blood glucose is your main source
            of energy and comes from the food you eat. Insulin, a hormone made
            by the pancreas, helps glucose from food get into your cells to be
            used for energy. Sometimes your body doesn’t make enough—or
            any—insulin or doesn’t use insulin well. Glucose then stays in your
            blood and doesn’t reach your cells.

            <h5>Symptoms</h5>
            <ul>
              <li>Urinating often.</li>
              <li>Feeling very thirsty.</li>
              <li>Extreme fatigue.</li>
              <li>Blurry vision.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button> -->
            <button type="button" class="btn btn-primary">
              Check for Diabetes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- -------------------------------------- -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="breast_cancer_modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="breast_cancer_modalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Diabetes</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Diabetes is a disease that occurs when your blood glucose, also
            called blood sugar, is too high. Blood glucose is your main source
            of energy and comes from the food you eat. Insulin, a hormone made
            by the pancreas, helps glucose from food get into your cells to be
            used for energy. Sometimes your body doesn’t make enough—or
            any—insulin or doesn’t use insulin well. Glucose then stays in your
            blood and doesn’t reach your cells.

            <h5>Symptoms</h5>
            <ul>
              <li>Urinating often.</li>
              <li>Feeling very thirsty.</li>
              <li>Extreme fatigue.</li>
              <li>Blurry vision.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button> -->
            <button type="button" class="btn btn-primary">
              Check for Diabetes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- -------------------------------------- -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="heart_modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="heart_modalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Diabetes</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Diabetes is a disease that occurs when your blood glucose, also
            called blood sugar, is too high. Blood glucose is your main source
            of energy and comes from the food you eat. Insulin, a hormone made
            by the pancreas, helps glucose from food get into your cells to be
            used for energy. Sometimes your body doesn’t make enough—or
            any—insulin or doesn’t use insulin well. Glucose then stays in your
            blood and doesn’t reach your cells.

            <h5>Symptoms</h5>
            <ul>
              <li>Urinating often.</li>
              <li>Feeling very thirsty.</li>
              <li>Extreme fatigue.</li>
              <li>Blurry vision.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <!-- <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button> -->
            <button type="button" class="btn btn-primary">
              Check for Diabetes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- -------------------------------------- -->


    <!-- <br />
    <div class="row">
      <div
        class="col-md-12 card card-body"
        style="box-shadow: 0 0 5px black; margin: 5px"
      >
        <h4>Breast Cancer</h4>
        <p>
          Breast cancer is cancer that forms in the cells of the breasts. After
          skin cancer, breast cancer is the most common cancer diagnosed in
          women in the United States. Breast cancer can occur in both men and
          women, but it's far more common in women.
        </p>
        <h5>Symptoms</h5>
        <ul>
          <li>
            A breast lump or thickening that feels different from the
            surrounding tissue
          </li>
          <li>Change in the size, shape or appearance of a breast</li>
          <li>Changes to the skin over the breast, such as dimpling</li>
          <li>
            Redness or pitting of the skin over your breast, like the skin of an
            orange
          </li>
        </ul>
      </div>
    </div>

    <br />
    <div class="row">
      <div
        class="col-md-12 card card-body"
        style="box-shadow: 0 0 5px black; margin: 5px"
      >
        <h4>Heart Disease</h4>
        <p>
          A buildup of fatty plaques in your arteries, or atherosclerosis
          (ath-ur-o-skluh-ROE-sis) can damage your blood vessels and heart.
          Plaque buildup causes narrowed or blocked blood vessels that can lead
          to a heart attack, chest pain (angina) or stroke. Coronary artery
          disease symptoms may be different for men and women. For instance, men
          are more likely to have chest pain. Women are more likely to have
          other signs and symptoms along with chest discomfort, such as
          shortness of breath, nausea and extreme fatigue.
        </p>
        <h5>Symptoms</h5>
        <ul>
          <li>Chest pain</li>
          <li>Chest tightness</li>
          <li>Chest pressure</li>
          <li>Chest discomfort (angina)</li>
          <li>Shortness of breath</li>
          <li>
            Pain, numbness, weakness or coldness in your legs or arms if the
            blood vessels in those parts of your body are narrowed
          </li>
          <li>Pain in the neck, jaw, throat, upper abdomen or back</li>
        </ul>
      </div>
    </div> -->

    <!-- <br />
    <div class="row">
      <div
        class="col-md-12 card card-body"
        style="box-shadow: 0 0 5px black; margin: 5px"
      >
        <h4>Liver disease</h4>
        <p>
          Symptoms of liver disease can vary, but they often include swelling of
          the abdomen and legs, bruising easily, changes in the color of your
          stool and urine, and jaundice, or yellowing of the skin and eyes.
          Sometimes there are no symptoms. Tests such as imaging tests and liver
          function tests can check for liver damage and help to diagnose liver
          diseases.
        </p>
      </div>
    </div> -->
  </div>
</div>

<!-- <script>
  function showTile() {
    document.getElementById("diab").innerHTML =
      "Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.";
  }
</script> -->

{% endblock %}
