* {
    background-color: transparent;
}

/* 

input{
    background-color: blue  !important;
    color:red !important;
} */

/* 
input[type=submit]{
    background-color: orange !important;
    color: orange !important;
} */